// Partial for the Index page

div.image-container, #main-image {
  width: 50%; 
  margin: auto; 
}

img {
  border-radius: 10px;
}

.main-image {
  border-radius: 10px;
  align-content: center;
}

.image-details {
  margin: auto;
  margin-bottom: 15px;
  font-family: arial;
  font-size: 14px;
  color: #092d69; 
}

.voting-buttons {
  display: flex;
  justify-content: center;
  padding: 8px;
  border: none; 
  

  .voting-button {
    padding: 0px 8px;
    margin: 0 8px;
    background-color: #375d9e;
    border: 2px solid #092d69;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
    color: #092d69;
  }

  .voting-button:hover {
    background-color: #092d69;
    border: 2px solid #375d9e;
    color: #375d9e;
  }  
}



