// Import partials
@import 'index';
@import 'navbar';

// Global styling

body {
    margin: 0;
    background-color: white;
}

.main-content {

    background-color: #44a3cf;
    width: 70%;
    font-family: arial;
    color: #092d69;
    text-align: center;    
    border: 2px solid #092d69;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
}

.image-details {
    width: 50%;
}

h1 {
    font-family: arial;
    font-size: 24px;
    color: #092d69;
    font-weight: normal;
}

.about {
    margin: auto;
}

.upload {
    width: 60%;
    margin: auto;
}

.details {
    text-align: center;
}